 body{
   background-color: #F1EAEA;
}
.page1{
 background-color: #eff5f7;
 /* width: 100%; */
 padding: 10%;
 }
 .navbar{
    /* text-align: center; */
    font-size: 130%;
    margin-left: -28%;
    margin-top: -7%;
    
 }
 .navbar a{
     padding-inline: 2%;
 }
 .name{
     float: left;
     margin-left: 25%;
 }
 .but{
     float: right;
      padding: 15px 30px;
      margin-top: -1%;
      border-radius: 10px;
      background-color: #5184F9;
      margin-right: 12%;
     
  
 }
 .logoimg{
 
    margin-right: 15%;
   
}

.btn{
    margin-left: 75%;
    margin-top:-4%;
   
}

.fa-instagram{
    margin-left: 10%;
    font-size: 50%;
    margin-top: 5%;
}

.fa-twitter{
   
   size: -80%;
}
 .words{
     margin-left: 3%;

 }
 .words h1{
     font-size: 230%;
 }
 .words p{
     font-size: 120%;
 }
.but2{
   margin-left: 3%; 

}

   
.photo{
    margin-left: 65%;
    margin-top: -30%;
   
}
.boxes{
    display: flex;
    padding-left: 26%;
    font-size: 120%;
    margin-left: -8%;
    
}
.box1{
    margin-left:-10% ;
    background-color: #FFFFFF;
    padding: 5%;
    /* background-color: #F5F9FA; */
    
   
}
.box2{
   
    /* background-color: #FFFFFF; */
    padding: 2%;
    background-color: #48A091;
}
.box3{
    background-color: #FFFFFF; 
    padding: 2%;
    /* background-color: #EAF6FE; */
}
.footer{
    display: flex;
    margin-top: 2%;
    padding-top: 5%;

  
}
.slack{
    margin-left: 1%;
    margin-top: -2%; 
 
}
.prudential{
    margin-left: 5%;
    margin-top: -2%;


}
.microsoft{
    margin-left: 10%;
    margin-top: -2%;
  
}
.zoover{
margin-left: 15%;
margin-top: 1%;
font-size: 150%;
}

.service h4{
 color: #B5D3CF;

 font-size: 150%;
 margin-left: 40%;
}
    
 .logo2{
  text-align: center;
  margin-left:5% ;
  margin-top: -8%;
 }
 .service h1{
     margin-left: 40%;
  
 }

 .boxes1{
    display: flex;
    margin-left: 2%;
}
.box4{
    background-color: #FFFFFF;
    padding: 2%;
   
    
   
}
.box5{
    margin-left:23% ;
    background-color: #FFFFFF;
    padding: 2%;
  
}
.box6{
    margin-left: 30%;
    background-color: #FFFFFF; 
    padding: 2%;
   
}
.photo1{
    display: flex;
    margin-left: 20%;
   
}
.numbers{
    margin-top: 30%;
    margin-left: -30%;
    font-size: 120%;
    
}
.word{
    margin-left: 10%;
    font-size: 150%;
    margin-top: 10%;
}
.logo4{
    margin-top: 10%;
    margin-left: -16%;
}

.page2{
    background-color: #eff5f7;
    padding: 5%;
    margin-top: 5%;
}
.page3{
    background-color: #eff5f7;
    padding: 5%;
    margin-top: 5%;
}
.signup{
    
    text-align: center;
    font-size: 180%;
    top: -30%;
}
.email .input{
    margin-left: 40%;
    width: 500px;
    height: 50px;
    background-color: #48A091;
    border-radius: 10px;
}
.email .b{
    background-color: #5184F9;
    border-radius: 10px;
    margin-left: -10%;
    font-size: 120%;
}
.email{
    margin-left: -25%;
}

.page4{
    background-color: #eff5f7;
   margin-top: 5%;
   padding: 10%;
  

}
.word4{
    margin-left: 5%;
    /* padding-top: 1%; */
    font-size: 140%;
    margin-top: -5%;
}
.logo5{
    margin-top: -18%;
    margin-left: 20%;
}
.details{
    margin-left: 5%;
    margin-top: 10%;
    font-size: 130%;
   
}
.photo2{
margin-left: 50%;
margin-top: -35%;
}
.numbers{
    margin-left: -35%;
}
.num{
    border-radius: 80px;
    border: none;
    background-color: #48A090;
    font-size: 20px;
    
}
.num2{
    border-radius: 80px;
    border: none;
    background-color: #5285FA;
    font-size: 20px;
    
}
.num3{
    border-radius: 80px;
    border: none;
    background-color: #FBBF31;
    font-size: 20px;
    
}

.icons{
    margin-top: 5%;
    margin-left: 3%;
}
.ending{
    float: left;
    padding: 15px 30px;
    margin-top: -6%;
    border-radius: 10px;
    background-color: #5184F9;
    margin-left: 14%;
    
}